body {
    background-color: rgb(252, 255, 252);
}

hr {
    margin: 1rem 0;
}

footer {
    background: #212121;
    background: -moz-linear-gradient(top, #013220, #026440);
    background: -webkit-linear-gradient(top, #013220, #026440);
    background: -ms-linear-gradient(top, #013220, #026440);
    background: -o-linear-gradient(top, #013220, #026440);
    background: linear-gradient(180deg, #013220, #026440);
    height: 5rem;
    margin-top: auto;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main_content {
    padding-top: 2em;
    width: 100%;
    flex-grow: 1;
}

.outer {
    width: 100%;
}

.inner {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;
}

.projparent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

p {
    margin-bottom: 0.5rem;
    text-indent: 5%;
    text-align: justify;
}

a {
    background-image: none;
    color: #92ce92;
    text-shadow: none;
}

img {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

/* Blog styles */

.blogImg {
    box-shadow:0 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.blogImgRight {
    float: right;
    width: 300px;
    margin: 0.5em 0 0.5em 0.5em;
}

.blogImgLeft {
    float: left;
    width: 300px;
    margin: 0.5em 0.5em 0.5em 0;
}

.blogImgMiddle {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 1em;
}

.blogImg span a img {
    height: inherit !important;
}